{% extends "core/base.html" %}
{% block title %}Artefacts Detail{% endblock %}
{% load static %}
{% block content %}
{% if artefact %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Artefact <span class="text-muted" style="font-size: 0.45em; font-family: monospace;">{{ artefact.sha256 }}</span></h1>
        <button
            class="btn btn-primary preview-btn"
            data-filepath="{{ artefact.file.name }}"
            data-filename="{{ artefact.original_name }}"
            type="button">
            Preview Artefact&nbsp;&nbsp;<i class="bi bi-search"></i></a>
    </div>
    <div class="card m-4">
        <div class="card-header fs-4 fw-bold py-3">Properties</div>
        <div class="card-body">
            <p><strong>Original Name:</strong> {{ artefact.original_name }}</p>
            <p><strong>Created at:</strong> {{ artefact.created_at }}</p>
            {% if artefact.metadata %}
                <p><strong>Metadata:</strong> {{ artefact.metadata }}</p>
            {% endif %}
            <p><strong>Artefact:</strong> <a target="_blank" href="{{ artefact.file.url }}">
                Open Artefact Content&nbsp;<i class="bi bi-box-arrow-up-right"></i></a>
            </p>
        </div>
    </div>

    {% if artefact.provenance.exists %}
    <div class="card m-4">
        <div
            class="card-header fs-4 fw-bold py-3 collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#provenance_content"
            style="cursor: pointer;">
            <i class="bi bi-chevron-right caret-icon"></i>
            Provenance
        </div>

        <div class="collapse" id="provenance_content">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for output in artefact.provenance.all %}
                    <li class="list-group-item">
                        <div><strong>Transformation Request ID:</strong> <a href="{% url 'transformation_request_detail' output.transformation_request.pk %}">{{ output.transformation_request.pk }}</a></div>
                        <div><strong>Method:</strong> {{ output.transformation_request.method }}</div>
                        <div><strong>Role:</strong> {{ output.role }}</div>
                        <div><strong>Status:</strong> {% include "core/components/status_badge.html" with status=output.transformation_request.status %}</div>
                        <div><strong>Created:</strong> {{ output.transformation_request.created_at }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    </div>
    {% else %}
    <div class="card m-4">
        <div class="card-header fs-4 fw-bold py-3">
            Provenance
        </div>
        <div class="card-body text-muted">
            Uploaded by User
        </div>
    </div>
    {% endif %}


    {% if artefact.derivatives.exists %}
    <div class="card m-4">
        <div
            class="card-header fs-4 fw-bold py-3 collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#derivatives_content"
            style="cursor: pointer;">
            <i class="bi bi-chevron-right caret-icon"></i>
            Derivatives
        </div>

        <div class="collapse" id="derivatives_content">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for input in artefact.derivatives.all %}
                    <li class="list-group-item">
                        <div><strong>Transformation Request ID:</strong> <a href="{% url 'transformation_request_detail' input.transformation_request.pk %}">{{ input.transformation_request.pk }}</a></div>
                        <div><strong>Transformation:</strong> {{ input.transformation_request.method }}</div>
                        <div><strong>Input Name:</strong> {{ input.input_name }}</div>
                        <div><strong>Status:</strong> {% include "core/components/status_badge.html" with status=input.transformation_request.status %}</div>

                        <div class="mt-2">
                            <strong>Outputs:</strong>
                            <ul class="mb-0">
                                {% for out in input.transformation_request.output_bindings.all %}
                                    <li><a href={% url 'artefact_detail' out.artefact.sha256 %}>{{ out.artefact.original_name }}</a></li>
                                {% empty %}
                                    <li class="text-muted">No outputs</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    </div>
    {% else %}
    <div class="card m-4">
        <div class="card-header fs-4 fw-bold py-3">
            Derivatives
        </div>
        <div class="card-body text-muted">
            No Derived Artefacts
        </div>
    </div>
    {% endif %}

</div>
{% else %}
    No Artefact Detail to Show
{% endif %}
{% endblock %}
