{% extends "core/base.html" %}
{% block title %}Run Requests{% endblock %}

{% block content %}
<div class="container mt-4">
<h1> Run Requests List </h1>
{% if run_requests_list %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Scenario</th>
                <th>Experiment</th>
                <th>Created</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for run_request in run_requests_list %}
            <tr data-run-id="{{ run_request.id }}">
                <td><a href="{% url "run_request_detail" run_request.id %}">{{ run_request.id }}</a></td>
                <td>{{ run_request.scenario.name }}</td>
                <td>{{ run_request.experiment.name }}</td>
                <td>{{ run_request.created_at|date:"m.d.y H:i:s" }}</td>
                <td class="status">
                    {% if run_request.status == "COMPLETE" %}
                        <span class="badge text-bg-success">Success</span>
                    {% elif run_request.status == "FAILED" %}
                        <span class="badge text-bg-danger">Failed</span>
                    {% elif run_request.status == "PREPARING" %}
                        <span class="badge text-bg-primary">Preparing</span>
                    {% elif run_request.status == "RUNNING" %}
                        <span class="badge text-bg-primary">Running</span>
                    {% elif run_request.status == "PENDING" %}
                        <span class="badge text-bg-secondary">Pending</span>
                    {% else %}
                        <span class="badge text-bg-light">{{ run_request.status }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p> No run requests to display </p>
{% endif %}
</div>
{% endblock %}