{% extends "core/base.html" %}
{% block title %}Run Requests{% endblock %}
{% load static %}

{% block content_class %}{% if run_request_list %}container my-4 page-content{% endif %}d-flex{% endblock %}

{% block content %}
{% if run_requests_list %}
<div class="container mt-4">
<h1> Run Requests List </h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Scenario</th>
                <th>Experiment</th>
                <th>Created</th>
                <th class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for run_request in run_requests_list %}
            <tr data-run-id="{{ run_request.id }}">
                <td><a href="{% url "run_request_detail" run_request.id %}">{{ run_request.id }}</a></td>
                <td>{{ run_request.scenario.name }}</td>
                <td>{{ run_request.experiment.name }}</td>
                <td>{{ run_request.created_at|date:"m.d.y H:i:s" }}</td>
                <td class="status text-center" data-status-id="rr_{{ run_request.id }}">
                    {% include "core/components/status_badge.html" with status=run_request.status %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    {% include "core/components/empty_state.html" with run_request_button=True background_image="core/london.png" title="No Run Requests yet" description="Run requests combine scenarios and experiments to run simulations." subtitle="Create a new run request to get started." modal_id="createRunModal" cta_label="Create New Run Request" docs_url="/docs/getting_started.html#step-3-create-a-run-request" %}
{% endif %}
{% endblock %}