{% extends "core/base.html" %}
{% block title %}Transformation Requests{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Transformation Requests Overview</h1>
    <span class="ms-auto">
        {% comment %} <button type="submit" class="btn btn-primary" id="transformButton" disabled>Transform&nbsp;&nbsp;<i class="bi bi-tools"></i></button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createArtefactModal" id="openCreateArtefactModal">Add Artefact</button> {% endcomment %}
    </span>
</div>
{% if transformation_requests %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Method</th>
            {% comment %} <th>Input Artefacts</th> {% endcomment %}
            <th>Created</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for transformation_request in transformation_requests %}
        <tr data-run-id="{{ transformation_request.id }}">
            <td><a href="{% url "transformation_request_detail" transformation_request.id %}">{{ transformation_request.id }}</a></td>
            <td>{{ transformation_request.method }}</td>
            {% comment %} <td>{{ transformation_request.input_artefacts }}</td> {% endcomment %}
            <td>{{ transformation_request.created_at|date:"m.d.y H:i:s" }}</td>
            <td class="status" data-status-id="tr_{{ transformation_request.id }}">
                {% include "core/components/status_badge.html" with status=transformation_request.status %}
            </td>
        </tr>
    {% empty %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>
    No transformation requests to show
</p>
{% endif %}
{% endblock %}